.addUserForm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.addUserFormHeader{
  display: flex;
}

.addUserForm-close-button {
  margin-left: 250px;
  border: none;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
}

.addUserForm-modal-content {
  position: relative; 
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addUserForm {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
  font-size: 14px;
}

form input,
form select {
  padding: 8px;
  margin: 5px 0;
  font-size: 14px;
}

form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
